import(DT)
import(zip)
import(stringi)
import(ggplot2)
import(shinyAce)
import(rmarkdown)
import(factoextra)
import(rstudioapi)
import(shinydashboard)
importFrom(shiny, runApp)
importFrom(shinyjs, useShinyjs)
importFrom(colourpicker, colourInput)
importFrom(shinydashboardPlus, dashboardPagePlus, dashboardHeaderPlus)
export(init_discover)
