import(DT)
import(ggplot2)
import(shinyAce)
import(rmarkdown)
import(factoextra)
import(rstudioapi)
import(shinyWidgets)
import(shinydashboard)
importFrom(shiny, runApp)
importFrom(shinyjs, useShinyjs)
importFrom(ggdendro, dendro_data)
importFrom(future, future, values)
importFrom(colourpicker, colourInput)
importFrom(shinydashboardPlus, dashboardPagePlus, dashboardHeaderPlus)
export(init_discover)
