import(DT)
import(zip)
import(knitr)
import(rgdal)
import(stringr)
import(reshape)
import(ggplot2)
import(stringi)
import(shinyAce)
import(promises)
import(corrplot)
import(rmarkdown)
import(dendextend)
import(factoextra)
import(rstudioapi)
import(FactoMineR)
import(shinyWidgets)
import(scatterplot3d)
import(shinydashboard)
importFrom(shiny, runApp)
importFrom(shinyjs, useShinyjs)
importFrom(ggdendro, dendro_data)
importFrom(future, future, values)
importFrom(raster, stack, plotRGB)
importFrom(colourpicker, colourInput)
importFrom(shinydashboardPlus, dashboardPagePlus, dashboardHeaderPlus)
export(init_discover)
